{{!-- action = "/artists" => after submit go to this page --}}
<div class="form-container flex-cl">
    <h1>Spotify Clone</h1>
    <form class="flex" action="/artists" method="get">

        <input type="text" name="theArtistName" id="" placeholder="Search artists here...">

        <button type="submit"> Find artists! </button>

    </form>
</div>